@page "{odsCode?}"
@using gpconnect_user_portal.Helpers.Constants
@model DetailModel

<h1>@Model.PageTitle</h1>

<form method="post" id="search-input-form">
    <partial name="ChangeInput" />
    <partial name="ChangeSupplier" />
    @if (Model.DisplayGpConnectProducts)
    {
        <partial name="ChangeProducts" />
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-form-group">
                    <div class="nhsuk-hint" id="input-hint-continue">Click on '@ButtonConstants.CONTINUE' to check and review the details you have entered.</div>
                    <button class="nhsuk-button" aria-describedby="input-hint-continue" asp-page-handler="Continue" type="submit">@ButtonConstants.CONTINUE</button>
                </div>
            </div>
        </div>
    }
</form>