@page "{odsCode?}"
@model DetailModel

<h1>@Model.PageTitle</h1>

<form method="post" id="search-input-form">
    <partial name="ChangeInput" />
    <partial name="ChangeProducts" />
    <partial name="ChangeSupplier" />
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-form-group">
                <button class="nhsuk-button" asp-page-handler="Continue" type="submit">@Helpers.Constants.ButtonConstants.CONTINUE</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="guid" name="guid" value="@Guid.NewGuid()" />
</form>