@page
@using gpconnect_user_portal.Helpers.Constants
@model ChangeModel

<h1>@DisplayConstants.CHANGETITLE</h1>
<p>Declaration: By using continuing you agree you have legal authority to act on behalf of your organisation.</p>
<h2>Search for your organisation</h2>

<form method="post" id="search-input-form">
    <partial name="SearchInput" model="@Model.SearchOptions" />
    @if (Model.SearchResult != null)
    {
        <partial name="SearchResults" />
    }
</form>
