@page
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_user_portal.Helpers
@using gpconnect_user_portal.Helpers.Constants
@model SupplierDetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="~/">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Back to Dashboard
            </a>
        </div>
    </div>
</div>

<form method="post" id="search-input-form">
    <partial name="SupplierProductCapabilitiesSuppliers" />

    @if (Model.SupplierProductCapabilityModel.DisplaySupplierProducts)
    {
        <partial name="SupplierProductCapabilitiesSuppliersProducts" />

        @if (Model.SupplierProductCapabilityModel.DisplayCapabilities)
        {
            <partial name="SupplierProductCapabilities" />
        }
    }
    <input type="hidden" asp-for="SupplierProductCapabilityModel.DisplaySupplierProducts" value="@Model.SupplierProductCapabilityModel.DisplaySupplierProducts" />
    <input type="hidden" asp-for="SupplierProductCapabilityModel.DisplayCapabilities" value="@Model.SupplierProductCapabilityModel.DisplayCapabilities" />
</form>