@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_user_portal.Helpers.Constants
@using gpconnect_user_portal.Helpers.Enumerations
@model SupplierDetailModel

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-form-group">
            <label asp-for="SupplierProductCapabilityModel.SupplierProductCapabilitySupplierModel.Suppliers" class="nhsuk-label"></label>
            <select asp-for="SupplierProductCapabilityModel.SupplierProductCapabilitySupplierModel.SelectedSupplier" asp-items="@Model.SupplierProductCapabilityModel.SupplierProductCapabilitySupplierModel.Suppliers" aria-describedby="input-hint-supplier" novalidate class="nhsuk-select"></select>
        </div>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <button class="nhsuk-button" asp-page-handler="LoadSupplierProducts" type="submit">@ButtonConstants.LOADSUPPLIERPRODUCTS</button>
    </div>
</div>