@page
@model IndexModel

<section class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description" style="background-image: url('https://assets.nhs.uk/prod/images/S_0818_homepage_hero_1_F0147446.width-1000.jpg');">
    <div class="nhsuk-hero__overlay">
        <div class="nhsuk-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div class="nhsuk-hero-content">
                        <h1 class="nhsuk-u-margin-bottom-3">Home</h1>
                        <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <span class="nhsuk-hero__arrow" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="nhsuk-section-break--m">&nbsp;</section>
<section class="nhsuk-section-break--xl">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-card nhsuk-card--clickable">
                <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
                <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="/Onboarding">Onboarding</a>
                    </h2>
                    <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia odio vel ligula blandit, nec posuere ipsum condimentum. Donec consectetur ultricies nisi at commodo.</p>
                </div>
            </div>
        </div>
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-card nhsuk-card--clickable">
                <img class="nhsuk-card__img" src="https://assets.nhs.uk/prod/images/A_0218_exercise-main_FKW1X7.width-690.jpg" alt="">
                <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" href="/Search">Search</a>
                    </h2>
                    <p class="nhsuk-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia odio vel ligula blandit, nec posuere ipsum condimentum. Donec consectetur ultricies nisi at commodo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
