@page
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Search.IndexModel
@{
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">
                        Find how an organisation shares patient records
                    </label>
                </h1>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                            <div class="nhsuk-card--care__heading-container">
                                <h3 class="nhsuk-card--care__heading">
                                    <span role="text"><span class="nhsuk-u-visually-hidden">Information: </span>Find how a clinical care organisation shares patient records in England, Wales and Northern Ireland</span>
                                </h3>
                                <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
                            </div>
                            <div class="nhsuk-card__content">
                                <p>A clinical care organisation commonly includes:</p>
                                <ul>
                                    <li>GP practices</li>
                                    <li>Care Homes</li>
                                    <li>Physiotherapists</li>
                                </ul>
                                <h3 class="nhsuk-card__heading">We'll ask you for:</h3>
                                <p class="nhsuk-card__description">You can search by organisation name or ODS (Organisation Data Service) identification code.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                      <a class="nhsuk-button" href="~/Search/Start" draggable="false">Start now</a>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <h3 class="nhsuk-card__heading">If you need help finding how an organisation shares patient records, contact the @Model.ProductName administrator.</h3>
                                <p class="nhsuk-card__description">@Model.ProductName<br/>@Model.OwnerEmailAddress<br/>Telephone: @Model.OwnerTelephone<br/>Monday to Friday, 9am to 5pm<br/>Find out more about call charges.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card">
                            <div class="nhsuk-card__content">
                                <p class="nhsuk-card__description">By using this service you are agreeing to our terms of use and privacy policy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
