@page
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Models.BaseModel;

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl" asp-for="TransparencyPageTitle"></label>
                </h1>
                <partial name="Introduction" />
                <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                    <div class="nhsuk-card--care__heading-container">
                        <h3 class="nhsuk-card--care__heading">
                            <span class="nhsuk-u-visually-hidden">Information: </span>
                            <label asp-for="TransparencyPageTitle"></label> in England
                        </h3>
                        <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
                    </div>
                    <div class="nhsuk-card__content">
                        <p>A health care setting can include:</p>
                        <ul>
                            <li>Pharmacies</li>
                            <li>GP practices</li>
                            <li>Care Homes</li>
                            <li>Physiotherapists</li>
                            <li>Hospitals</li>
                        </ul>
                        <h3 class="nhsuk-card__heading">We'll ask you for:</h3>
                        <p class="nhsuk-card__description">You can search by organisation name or Organisation Data Service (ODS) identification code (if known).</p>
                        <a class="nhsuk-button" asp-page="/Search/Name" draggable="false">Start now</a>
                    </div>
                </div>
            </div>
        </div>
        <partial name="Help" />
        <partial name="Terms" />
    </main>
</div>
