<div class="nhsuk-card">
    <div class="nhsuk-card__content">
        <p class="nhsuk-card__description"><a target="_blank" href="https://digital.nhs.uk/services/gp-connect">GP Connect</a> is a service that allows information and data to be viewed and shared between IT systems. This means authorised clinical staff from different health care settings can share and view clinical information held by a GP Practice (e.g. a patient's medical record).<p>
        <p class="nhsuk-card__description">The sharing of records is only for the purpose of direct care, where the patient is being treated or consulted in a setting away from their regular GP. GP Connect respects patient consent choices and will not share their data if the patient has asked their GP not to.</p>
        <p class="nhsuk-card__description">This site will allow a search of health care settings which have access to GP records via GP Connect and will give a general reason why that setting has access. It will not give details of specific cases and will not disclose any patient data.</p>
        <p class="nhsuk-card__description">Once a search has been completed and the health care setting's reason for access is known, the care setting should be contacted directly should more information be required.</p>
    </div>
</div>
