@page
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.SearchModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--xl">Find how an organisation shares patient records</label>
        </h1>
        <form method="post" id="search-input-form">
            @if (Model.DisplaySearchInvalid)
            {
                <partial name="SearchInvalid" />
            }
            <partial name="SearchInput" />

            @if (Model.SearchResult != null && Model.IsValidSearch)
            {
                @if (Model.SearchResult.NoMatches)
                {
                    <partial name="SearchNoResults" />
                }
                else
                {
                    <h1>Results</h1>
                    <partial name="SearchResultsHeader" />
                    <partial name="SearchResults" />
                }
            }
        </form>
    </main>
</div>
