<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list nhsuk-footer__list--three-columns">
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#"><text>Privacy and Cookies</text></a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#"><text>Accessibility Statement</text></a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#"><text>Help</text></a></li>
                <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#"><text>Terms and Conditions</text></a></li>
            </ul>
            <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
        </div>
    </div>
</footer>