<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ serviceName }}</title>
    <link rel="stylesheet" href="/public/stylesheets/application.css" />
    <meta property="og:url" content="">
    <meta property="og:title" content="{{ serviceName }}">
    <meta property="og:description" content="{{ serviceName }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://assets.nhs.uk/images/nhs-logo.png">
    <meta property="og:image:alt" content="NHS">
</head>