@page
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Models.BaseModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">Apply for the National Data Sharing Agreement</label>
                </h1>
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Application submitted
                        </h2>
                        <p class="nhsuk-card__description">Thank you for your application. We have sent a confirmation of your application to the signatory's email.</p>
                        <p class="nhsuk-card__description">We will contact you within 14 days. If your application is accepted, we will set your organisation up in GP Connect.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
