@page
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers.Constants
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Helpers
@using GpConnect.NationalDataSharingPortal.EndUserPortal.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Pages.Apply.UseCaseModel
@{
    var useCaseDescriptionInvalid = Model.ModelState["UseCaseDescription"]?.ValidationState == ModelValidationState.Invalid;
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">Apply for the National Data Sharing Agreement</label>
                </h1>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <h1 class="nhsuk-label-wrapper">
                            <label class="nhsuk-label nhsuk-label--l">
                                Review your answers
                            </label>
                        </h1>
                        <label class="nhsuk-label">Please check that the details you've given are correct before submitting.</label>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        <div class="nhsuk-card nhsuk-card--feature">
                            <div class="nhsuk-card__content nhsuk-card__content--feature">
                                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                    Software supplier
                                </h2>
                                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                                    <div class="nhsuk-summary-list__row">
                                    <dt class="nhsuk-summary-list__key">Supplier name:</dt>
                                    <dd class="nhsuk-summary-list__value"></dd>
                                    <dd class="nhsuk-summary-list__actions"><a href="./SoftwareSupplier">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                            </div>

                            <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">GP Connect product(s):</dt>
                                <dd class="nhsuk-summary-list__value">

                                </dd>
                            </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-card nhsuk-card--feature">
                        <div class="nhsuk-card__content nhsuk-card__content--feature">
                            <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                                Your organisation
                            </h2>
                            <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                                <div class="nhsuk-summary-list__row">
                                <dt class="nhsuk-summary-list__key">Site ODS code:</dt>
                                <dd class="nhsuk-summary-list__value"></dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Organisation name:</dt>
                            <dd class="nhsuk-summary-list__value"></dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Organisation address:</dt>
                            <dd class="nhsuk-summary-list__value"> <br /> <br /></dd>
                            <dd class="nhsuk-summary-list__actions"><a href="./Organisation">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                        </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Signatory
                        </h2>
                        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                            <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">Signatory name:</dt>
                            <dd class="nhsuk-summary-list__value"></dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Signatory title:</dt>
                        <dd class="nhsuk-summary-list__value"></dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">Signatory email address:</dt>
                        <dd class="nhsuk-summary-list__value"></dd>
                        <dd class="nhsuk-summary-list__actions"><a href="./Signatory">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
                    </div>
                    </dl>
                </div>
            </div>
        </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card nhsuk-card--feature">
            <div class="nhsuk-card__content nhsuk-card__content--feature">
                <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                    Reason for applying (use case)
                </h2>
                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                    <div class="nhsuk-summary-list__row">
                    <dd class="nhsuk-summary-list__value"></dd>
                    <dd class="nhsuk-summary-list__actions"><a href="./UseCase">Change<span class="nhsuk-u-visually-hidden"> name</span></a></dd>
            </div>
            </dl>
        </div>
    </div>
</div>
    </div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
                Important<span class="nhsuk-u-visually-hidden">:</span>
            </h3>
            <p>By submitting, you confirm that the signatory agrees to the terms of the National Data Sharing Agreement.</p>
        </div>
        <button class="nhsuk-button nhsuk-button--primary">Submit</button>
    </div>
</div>
    </div>
            </div>
        </div>
    </main>
</div>
