@{
    string RenderSpanOrLink(string contentPage, string contentLabel)
    {
        @if (Model.ContentPage == contentPage)
        {
            return $"<span class=\"nhsuk-contents-list__current\">{contentLabel}</span>";
        }
        else
        {
            return $"<a class=\"nhsuk-contents-list__link\" href=\"/Onboarding/{contentPage}\">{contentLabel}</a>";
        }
    }    
}

<div class="nhsuk-grid-column-one-third">
    <nav class="nhsuk-contents-list" role="navigation" aria-label="Pages">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
            <li class="nhsuk-contents-list__item">
                @Html.Raw(RenderSpanOrLink("End-Users", "End Users"))
            </li>
            <li class="nhsuk-contents-list__item">
                @Html.Raw(RenderSpanOrLink("IG-DPIA", "IG &amp; DPIA"))
            </li>
            <li class="nhsuk-contents-list__item">
                @Html.Raw(RenderSpanOrLink("Use-Cases-Products", "Use Cases &amp; Products"))
            </li>
            <li class="nhsuk-contents-list__item">
                @Html.Raw(RenderSpanOrLink("Process", "Onboarding Process"))
            </li>
        </ol>
    </nav>
</div>