<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <p class="nhsuk-card__description">By using this service you are agreeing to our terms of use and privacy policy.</p>
            </div>
        </div>
    </div>
</div>
