<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="nlog-internal.log">
    
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
      <add assembly="NLog.Targets.Splunk" />
    </extensions>

    <targets>
      <target xsi:type="ColoredConsole" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
      
      <target xsi:type="File" name="allfile" fileName="nlog-thecodebuzz-${shortdate}.log"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

      <target name="SplunkLog"
            xsi:type="SplunkHttpEventCollector"
            serverUrl=""
            token=""
            channel=""
            source="${logger}"
            sourceType="_json"
            index=""
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            layout="${message} ${exception:format=tostring}"
            includeEventProperties="false"
            includePositionalParameters="false"
            includeMdlc="false"
            maxConnectionsPerServer="10"
            ignoreSslErrors="false">
      </target>
    </targets>

    <rules>      
      <logger name="*" minlevel="Trace" writeTo="allfile" />
      <logger name="*" minlevel="Trace" writeTo="SplunkLog" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>

</configuration>