<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogFile="nlog-internal.log">
    
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
      <add assembly="NLog.Targets.Splunk" />
    </extensions>

    <targets>
      <target xsi:type="ColoredConsole" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
      
      <target xsi:type="File" name="allfile" fileName="nlog-thecodebuzz-${shortdate}.log"
              layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

      <target name="SplunkLog"
            xsi:type="SplunkHttpEventCollector"
            serverUrl="http://nhsdigital.splunkcloud.com:8089"
            token="eyJraWQiOiJzcGx1bmsuc2VjcmV0IiwiYWxnIjoiSFM1MTIiLCJ2ZXIiOiJ2MiIsInR0eXAiOiJzdGF0aWMifQ.eyJpc3MiOiJzdGJyNUBoc2NpYy5nb3YudWsgZnJvbSBzaC1pLTA2NDkwNWJjZjdkZjAxZTU4Iiwic3ViIjoibmhzZF9zdmN1c2VyX25kc3BfcHJvZCIsImF1ZCI6IlJFU1QgQVBJIGNhbGxzIGZvciBOYXRpb25hbCBEYXRhIFNoYXJpbmcgUG9ydGFsIiwiaWRwIjoiU3BsdW5rIiwianRpIjoiZGU5ZGNmOWYwYWYwMGUyYTI5NWE1MTZiZjk3MTFmN2M5ODk1YTJkMGFkMzBkYTNhZWM5N2E0NmMxNjc0NDBiZiIsImlhdCI6MTY0NTYyNjI1MSwiZXhwIjoxNjQ4MjE4MjUxLCJuYnIiOjE2NDU2MjYyNTF9.J2KA1XQtWxYAy9AZhhcwcIW5FiQZJtMitjjQf8vLDxIx-pslUu4mb0hjZs2m0ax_w6fvEwPRE33ysTKoGrCSUQ"
            channel="67a1cb70-3870-466b-ae77-49c5f8439ca4"
            source="${logger}"
            sourceType="_json"
            index="logs_ndsp_local"
            retriesOnError="0"
            batchSizeBytes="0"
            batchSizeCount="0"
            layout="${message} ${exception:format=tostring}"
            includeEventProperties="true"
            includePositionalParameters="false"
            includeMdlc="false"
            maxConnectionsPerServer="10"
            ignoreSslErrors="true">
        <contextproperty name="host" layout="${machinename}" />
        <contextproperty name="threadid" layout="${threadid}" />
        <contextproperty name="logger" layout="${logger}" />
      </target>
    </targets>

    <rules>      
      <logger name="*" minlevel="Trace" writeTo="allfile" />
      <logger name="*" minlevel="Trace" writeTo="SplunkLog" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>

</configuration>