@page
@model GpConnect.NationalDataSharingPortal.EndUserPortal.Models.BaseModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <h1 class="nhsuk-label-wrapper">
                    <label class="nhsuk-label nhsuk-label--xl">Thank you</label>
                </h1>
                <div class="nhsuk-card nhsuk-card--feature">
                    <div class="nhsuk-card__content nhsuk-card__content--feature">
                        <h2 class="nhsuk-card__heading nhsuk-card__heading--feature nhsuk-heading-m">
                            Feedback Sent
                        </h2>
                        <p class="nhsuk-card__description">Thank you for your feedback on the @Model.ProductName</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
