@page
@model SearchModel

<h1>Live GP Connect Sites</h1>

<form method="post" id="search-input-form">
    <partial name="SearchInput" />
    @if (Model.SearchResults != null)
    {
        <h1>Results</h1>
        <partial name="SearchSortOptions" />
        <partial name="SearchResultsHeader" model="@Model.SearchResults" />
        <partial name="SearchResults" model="@Model.SearchResults" />
    }
</form>
