@model DTO.Response.SearchResult

    <button class="nhsuk-button" asp-page-handler="Export" type="submit">Export as CSV</button>

    <table class="nhsuk-table">
        <caption class="nhsuk-table__caption">Results</caption>
        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">Matched</th>
                <th role="columnheader" class="" scope="col">Has Record Access: HTML View</th>
                <th role="columnheader" class="" scope="col">Has Record Access: Structured</th>
                <th role="columnheader" class="" scope="col">Has Appointment</th>
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">@Model.MatchedCount</td>
                <td class="nhsuk-table__cell">@Model.HasHtmlViewCount</td>
                <td class="nhsuk-table__cell">@Model.HasStructuredCount</td>
                <td class="nhsuk-table__cell">@Model.HasAppointmentCount</td>
            </tr>
        </tbody>
    </table>