@model SearchModel

<div class="nhsuk-form-group nhsuk-header__content">
    <select asp-for="@Model.SearchOptions.SelectedSortOption" asp-items="@Model.SearchOptions.SearchResultSortOptions" class="nhsuk-select" id="@Model.SearchOptions.SelectedSortOption"></select>
</div>