@using Microsoft.AspNetCore.Mvc.ModelBinding
@using gpconnect_user_portal.Helpers.Constants

<div class="nhsuk-grid-column-full nhsuk-card-group__item">
    <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
                Endpoint Changes By Status
            </h2>
            @if (Model.EndpointChangeCountByStatus.Count > 0)
            {
                <dl class="nhsuk-summary-list">
                    @foreach (var endpointStatus in Model.EndpointChangeCountByStatus)
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">@endpointStatus.SiteDefinitionStatusName</dt>
                            <dd class="nhsuk-summary-list__value">@endpointStatus.SiteDefinitionStatusCount</dd>
                        </div>
                    }
                </dl>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="/Outstanding">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Manage Outstanding Endpoint Changes</span>
                    </a>
                </div>
                <div class="nhsuk-action-link">
                    <a class="nhsuk-action-link__link" href="/Completed">
                        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                        </svg>
                        <span class="nhsuk-action-link__text">Manage Completed Endpoint Changes</span>
                    </a>
                </div>
            }
            else
            {
            <p class="nhsuk-card__description">There are no endpoint changes.</p>
            }
        </div>
    </div>
</div>