<div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">Access to @Model.ApplicationName</h3>
    <p>This application is restricted to registered users of the NHS with specific access to @Model.ApplicationName. Please sign in to use it.</p>
    <a class="nhsuk-button" href="/Auth/Login">Sign in</a>
</div>