<h2>Troubleshooting Error Messages</h2>
<div class="nhsuk-expander-group">
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Error 1</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu sapien sed tellus consectetur consequat a et elit.</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>Integer tempus massa sagittis nisl tempor, at blandit orci aliquet.</p></div>
    </details>
    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Error 2</span>
        </summary>
        <div class="nhsuk-details__text"><p><b>Reason: </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu sapien sed tellus consectetur consequat a et elit.</p></div>
        <div class="nhsuk-details__text"><p><b>Solution: </b>Integer tempus massa sagittis nisl tempor, at blandit orci aliquet.</p></div>
    </details>
</div>
